{% extends 'noticias/base.html' %} 

{% block navbar %}
{% endblock%}
{% block content %}

<form method="post" id="inicioForm">

	{% csrf_token %}
	{{ form.username.errors }}<br>
	<label id="labelUser">Nombre de usuario</label><br>
	{{ form.username }}<br>
	{{ form.password.errors }}<br>
	<label id="labelPassword">Contraseña</label><br>
	{{ form.password }}<br>
	<button type="submit" id="botonSesion"></button><br>
</form>
<a href="{% url 'social:begin' 'facebook' %}" class="link" id="ISFacebook">Iniciar sesion con Facebook</a>
<a href="{% url 'password_reset' %}" class="link" id="linkOlvidar">¿Has olvidado tu contraseña?</a><br>
<a href="{% url 'usuario:registrar' %}" class="link" id="linkRegistrar">Registrarse</a>
{% endblock %}
{% block boton%}
{% endblock %}