{% extends 'noticias/base.html' %} 

{% block navbar %}
{% endblock%}
{% block content %}

<form method="post" id="inicioForm">

	{% csrf_token %}
	{{ form.username.errors }}<br>
	<label id="labelUser">Nombre de usuario</label><br>
	{{ form.username }}<br>
	{{ form.password.errors }}<br>
	<label id="labelPassword">Contraseña</label><br>
	{{ form.password }}<br>
	<button type="submit" id="botonSesion"></button><br>
	<a href="{% url 'usuario:registrar' %}">registrarse</a>
</form>

{% endblock %}
{% block boton%}
{% endblock %}