{% extends 'noticias/base.html' %}

{% block content %}
    <div class="contNoti">
    {% for notici in entretiene %}
        <div class="linea">
        <figure class="content">
        	<div class="containerUno">
        	    <img class="imgPost" src="{{notici.imagen.url}}">
			</div>
            <figcaption>
                <a href="{% url 'post_detail' pk=notici.pk %}" class="linkTi">{{ notici.titulo }}</a><br>
                <div class="spanFig">{{ notici.encabezado }}</div>
            </figcaption>
		</figure>
	</div>
    {% endfor %}
    </div>
{% endblock %}