{% extends 'noticias/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}
<form method="post" id="registrarForm">
	{% csrf_token %}
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<input class="form-control" type="text" name="first_name" placeholder="Nombre">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<input class="form-control" type="text" name="last_name" placeholder="Apellido">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="Nombre de usuario">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<input class="form-control" type="text" name="email" placeholder="Correo">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<input class="form-control" type="password" name="password1" placeholder="Contraseña">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<input class="form-control" type="password" name="password2" placeholder="Confirmar contraseña">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary" type="submit" id="botonRegistrar"></button>
			</div>
		</div>
	</div>
	
</form>
{% endblock %}
{% block boton %}
{% endblock %}